# -----------------------------
# Postgres
# -----------------------------
POSTGRES_USER=oncoped
POSTGRES_PASSWORD=oncoped123
POSTGRES_DB=oncoped_dw

# -----------------------------
# MinIO
# -----------------------------
MINIO_ENDPOINT=http://minio:9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_BUCKET=oncoped-raw

# -----------------------------
# Dremio
# -----------------------------
DREMIO_HOST=dremio
DREMIO_PORT=9047
DREMIO_USERNAME=dremio
DREMIO_PASSWORD=dremio123

# -----------------------------
# Superset
# -----------------------------
SUPERSET_SECRET_KEY=supersecretkey123

# -----------------------------
# Airflow UID/GID (para permissões)
# -----------------------------
AIRFLOW_UID=50000
AIRFLOW_GID=50000

# -----------------------------
# Airflow conexão com Postgres
# -----------------------------
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres_dw:5432/${POSTGRES_DB}
AIRFLOW__WEBSERVER__RBAC=True